<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saffron.portal.mapper.MenuMapper">

    <select id="selectMenuList" resultType="com.saffron.portal.dto.menu.MenuListDto">
        WITH RECURSIVE menu_tree AS (
            SELECT m.menuId,
                   m.parentMenuId,
                   m.menuName,
                   m.menuLevel,
                   m.menuIcon,
                   m.menuDirYn,
                   m.programId,
                   m.sortOrder,
                   m.useYn,
                   m.site,
                   CAST(CONCAT(LPAD(COALESCE(m.sortOrder, 0), 10, '0'), '_', m.menuId) AS CHAR(1000)) AS treePath,
                   CAST(m.menuName AS CHAR(1000)) AS treeName,
                   0                              AS depth
            FROM   menu_info m
            WHERE  m.menuLevel = 1
              AND  m.useYn = 'Y'
              <if test="site != null and site != ''">
              AND  m.site = #{site}
              </if>
            UNION ALL
            SELECT m.menuId,
                   m.parentMenuId,
                   m.menuName,
                   m.menuLevel,
                   m.menuIcon,
                   m.menuDirYn,
                   m.programId,
                   m.sortOrder,
                   m.useYn,
                   m.site,
                   CONCAT(mt.treePath, ' > ', LPAD(COALESCE(m.sortOrder, 0), 10, '0'), '_', m.menuId) AS treePath,
                   CONCAT(mt.treeName, ' > ', m.menuName) AS treeName,
                   mt.depth + 1                           AS depth
            FROM   menu_info m
            INNER JOIN menu_tree mt ON m.parentMenuId = mt.menuId
            WHERE  m.useYn = 'Y'
              <if test="site != null and site != ''">
              AND  m.site = #{site}
              </if>
        )
        SELECT mt.depth,
               CONCAT(REPEAT('　', mt.depth), mt.menuName) AS menuNameTree,
               mt.menuId,
               mt.menuName,
               mt.parentMenuId,
               mt.menuLevel,
               mt.menuIcon,
               mt.menuDirYn,
               mt.programId,
               mt.sortOrder,
               mt.useYn,
               mt.site,
               mt.treePath,
               p.programName,
               p.programUrl
        FROM   menu_tree mt
        LEFT JOIN program_info p
               ON mt.programId = p.programId
              AND p.useYn = 'Y'
        <where>
            <if test="menuId != null and menuId != ''">
                AND mt.menuId LIKE CONCAT('%', #{menuId}, '%')
            </if>
            <if test="menuName != null and menuName != ''">
                AND mt.menuName LIKE CONCAT('%', #{menuName}, '%')
            </if>
        </where>
        ORDER BY mt.treePath
    </select>

    <select id="selectMenu" resultType="com.saffron.portal.dto.menu.MenuTreeDto">
        SELECT menuId,
               parentMenuId,
               menuName,
               menuLevel,
               menuIcon,
               menuDirYn,
               programId,
               sortOrder,
               site
        FROM   menu_info
        <where>
            useYn = 'Y'
            <if test="site != null and site != ''">
                AND site = #{site}
            </if>
        </where>
        ORDER  BY menuLevel ASC, sortOrder ASC
    </select>

    <select id="countMenu" resultType="int">
        SELECT COUNT(*) FROM menu_info WHERE menuId = #{menuId}
    </select>

    <select id="countChildMenus" resultType="int">
        SELECT COUNT(*) FROM menu_info WHERE parentMenuId = #{menuId}
    </select>

    <delete id="deleteMenu">
        DELETE FROM menu_info WHERE menuId = #{menuId}
    </delete>

    <update id="updateMenu" parameterType="com.saffron.portal.dto.menu.MenuDto">
        UPDATE menu_info
        SET    menuName    = #{menuName},
               menuLevel   = #{menuLevel},
               menuDirYn   = #{menuDirYn},
               programId   = #{programId},
               sortOrder   = #{sortOrder},
               useYn       = #{useYn},
               <if test="parentMenuId != null and parentMenuId != ''">
               parentMenuId = #{parentMenuId},
               </if>
               <if test="site != null and site != ''">
               site        = #{site},
               </if>
               updatedDate = NOW()
        WHERE  menuId = #{menuId}
    </update>

    <insert id="insertMenu" parameterType="com.saffron.portal.dto.menu.MenuDto">
        INSERT INTO menu_info (menuId, parentMenuId, menuName, menuLevel, menuIcon, menuDirYn, programId, sortOrder, useYn, site)
        VALUES (#{menuId}, #{parentMenuId}, #{menuName}, #{menuLevel}, #{menuIcon}, #{menuDirYn}, #{programId}, #{sortOrder}, #{useYn}, #{site})
    </insert>

    <select id="selectParentMenus" resultType="com.saffron.portal.dto.menu.MenuListDto">
        WITH RECURSIVE menu_tree AS (
            SELECT m.menuId,
                   m.parentMenuId,
                   m.menuName,
                   m.menuLevel,
                   m.menuIcon,
                   m.menuDirYn,
                   m.programId,
                   m.sortOrder,
                   m.useYn,
                   m.site,
                   CAST(m.menuId   AS CHAR(1000)) AS treePath,
                   CAST(m.menuName AS CHAR(1000)) AS treeName,
                   0                              AS depth
            FROM   menu_info m
            WHERE  m.parentMenuId IS NULL
              AND  m.useYn    = 'Y'
              AND  m.menuDirYn = 'Y'
              <if test="site != null and site != ''">
              AND  m.site = #{site}
              </if>
            UNION ALL
            SELECT m.menuId,
                   m.parentMenuId,
                   m.menuName,
                   m.menuLevel,
                   m.menuIcon,
                   m.menuDirYn,
                   m.programId,
                   m.sortOrder,
                   m.useYn,
                   m.site,
                   CONCAT(mt.treePath, ' > ', m.menuId)   AS treePath,
                   CONCAT(mt.treeName, ' > ', m.menuName) AS treeName,
                   mt.depth + 1                           AS depth
            FROM   menu_info m
            INNER JOIN menu_tree mt ON m.parentMenuId = mt.menuId
            WHERE  m.useYn    = 'Y'
              AND  m.menuDirYn = 'Y'
              AND  mt.depth   &lt; 1
              <if test="site != null and site != ''">
              AND  m.site = #{site}
              </if>
        )
        SELECT mt.depth,
               CONCAT(REPEAT('　', mt.depth), mt.menuName) AS menuNameTree,
               mt.menuId,
               mt.parentMenuId,
               mt.menuLevel,
               mt.menuIcon,
               mt.menuDirYn,
               mt.programId,
               mt.sortOrder,
               mt.useYn,
               mt.site,
               mt.treePath,
               NULL AS programName,
               NULL AS programUrl
        FROM   menu_tree mt
        ORDER BY mt.treePath, mt.sortOrder
    </select>

    <select id="selectNextMenuId" resultType="string">
        SELECT CONCAT('MENU', LPAD(COALESCE(MAX(CAST(SUBSTRING(menuId, 5) AS UNSIGNED)), 0) + 1, 3, '0'))
        FROM   menu_info
        WHERE  menuId REGEXP '^MENU[0-9]+$'
    </select>

</mapper>
