<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saffron.qbank.mapper.ExamTypeMapper">

    <resultMap id="ExamTypeResultMap" type="com.saffron.qbank.domain.ExamType">
        <id     property="id"        column="id"/>
        <result property="name"      column="name"/>
        <result property="isSurvey"  column="isSurvey"/>
        <result property="createdAt" column="createdAt"/>
    </resultMap>

    <select id="selectAll" resultMap="ExamTypeResultMap">
        SELECT id, name, isSurvey, createdAt
        FROM qbank_exam_type
        ORDER BY id
    </select>

    <select id="selectById" resultMap="ExamTypeResultMap">
        SELECT id, name, isSurvey, createdAt
        FROM qbank_exam_type
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.saffron.qbank.domain.ExamType"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO qbank_exam_type (name, isSurvey)
        VALUES (#{name}, #{isSurvey})
    </insert>

    <update id="update" parameterType="com.saffron.qbank.domain.ExamType">
        UPDATE qbank_exam_type
        SET name     = #{name},
            isSurvey = #{isSurvey}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM qbank_exam_type WHERE id = #{id}
    </delete>

</mapper>
