<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saffron.eai.mapper.EaiDbAdapterDefMapper">

    <resultMap id="DbAdapterDefResultMap" type="com.saffron.eai.domain.EaiDbAdapterDef">
        <id     property="id"          column="id"/>
        <result property="dbAdapterId" column="db_adapter_id"/>
        <result property="dbType"      column="db_type"/>
        <result property="dbName"      column="db_name"/>
        <result property="dbIp"        column="db_ip"/>
        <result property="dbPort"      column="db_port"/>
        <result property="dbId"        column="db_id"/>
        <result property="dbPw"        column="db_pw"/>
        <result property="direction"   column="direction"/>
    </resultMap>

    <select id="selectDbAdapterList" resultMap="DbAdapterDefResultMap">
        SELECT id, db_adapter_id, db_type, db_name, db_ip, db_port, db_id, db_pw, direction
        FROM   eai_db_adapter_def
        <where>
            <if test="dbType != null and dbType != ''">
                AND db_type = #{dbType}
            </if>
            <if test="direction != null and direction != ''">
                AND direction = #{direction}
            </if>
        </where>
        ORDER BY id
    </select>

    <select id="selectDbAdapterById" resultMap="DbAdapterDefResultMap">
        SELECT id, db_adapter_id, db_type, db_name, db_ip, db_port, db_id, db_pw, direction
        FROM   eai_db_adapter_def
        WHERE  id = #{id}
    </select>

    <select id="selectDbAdapterByAdapterId" resultMap="DbAdapterDefResultMap">
        SELECT id, db_adapter_id, db_type, db_name, db_ip, db_port, db_id, db_pw, direction
        FROM   eai_db_adapter_def
        WHERE  db_adapter_id = #{dbAdapterId}
    </select>

    <insert id="insertDbAdapter" parameterType="com.saffron.eai.domain.EaiDbAdapterDef"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO eai_db_adapter_def (db_adapter_id, db_type, db_name, db_ip, db_port, db_id, db_pw, direction)
        VALUES (#{dbAdapterId}, #{dbType}, #{dbName}, #{dbIp}, #{dbPort}, #{dbId}, #{dbPw}, #{direction})
    </insert>

    <update id="updateDbAdapter" parameterType="com.saffron.eai.domain.EaiDbAdapterDef">
        UPDATE eai_db_adapter_def
        <set>
            db_adapter_id = #{dbAdapterId},
            db_type       = #{dbType},
            db_name       = #{dbName},
            db_ip         = #{dbIp},
            db_port       = #{dbPort},
            db_id         = #{dbId},
            <if test="dbPw != null and dbPw != ''">
            db_pw         = #{dbPw},
            </if>
            direction     = #{direction}
        </set>
        WHERE  id = #{id}
    </update>

    <delete id="deleteDbAdapter">
        DELETE FROM eai_db_adapter_def WHERE id = #{id}
    </delete>

</mapper>
