<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saffron.api.portal.mapper.MenuMapper">

    <select id="selectMenu" resultType="com.saffron.api.portal.dto.menu.MenuTreeDto">
        SELECT menu_id,
               parent_menu_id,
               menu_name,
               menu_level,
               menu_icon,
               sort_order
        FROM   menu_info
        WHERE  use_yn = 'Y'
        ORDER  BY menu_level ASC, sort_order ASC
    </select>

</mapper>
