<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saffron.api.portal.mapper.ProgramMapper">

    <insert id="insertProgram" parameterType="com.saffron.api.portal.dto.menu.ProgramDto">
        INSERT INTO program_info (programId, programName, programUrl, sortOrder, useYn)
        VALUES (#{programId}, #{programName}, #{programUrl}, #{sortOrder}, #{useYn})
    </insert>

    <update id="updateProgram" parameterType="com.saffron.api.portal.dto.menu.ProgramDto">
        UPDATE program_info
        SET    programName = #{programName},
               programUrl  = #{programUrl},
               sortOrder   = #{sortOrder},
               useYn       = #{useYn},
               updatedDate = NOW()
        WHERE  programId = #{programId}
    </update>

    <select id="countProgram" resultType="int">
        SELECT COUNT(*) FROM program_info WHERE programId = #{programId}
    </select>

    <select id="countProgramInMenu" resultType="int">
        SELECT COUNT(*) FROM menu_info WHERE programId = #{programId}
    </select>

    <delete id="deleteProgram">
        DELETE FROM program_info WHERE programId = #{programId}
    </delete>

    <select id="selectProgramList" resultType="com.saffron.api.portal.dto.menu.ProgramDto">
        SELECT programId,
               programName,
               programUrl,
               useYn,
               sortOrder
        FROM   program_info
        <where>
            <if test="programId != null and programId != ''">
                AND programId LIKE CONCAT('%', #{programId}, '%')
            </if>
            <if test="programName != null and programName != ''">
                AND programName LIKE CONCAT('%', #{programName}, '%')
            </if>
            <if test="programUrl != null and programUrl != ''">
                AND programUrl LIKE CONCAT('%', #{programUrl}, '%')
            </if>
        </where>
        ORDER BY sortOrder, programId
    </select>

    <select id="selectNextProgramId" resultType="string">
        SELECT CONCAT('PGM', LPAD(COALESCE(MAX(CAST(SUBSTRING(programId, 4) AS UNSIGNED)), 0) + 1, 3, '0'))
        FROM   program_info
        WHERE  programId REGEXP '^PGM[0-9]+$'
    </select>

</mapper>
